.navbar {
    display: flex;
    width: 100%;
    margin: 20px;
    border: 1px solid black;
    box-shadow: 8px 0px 5px rgb(223, 169, 214);
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

/* .navbar a{
    margin: 10px;
} */

.n1 {
    margin: 10px;
}

